.easy-buttons-floating-block {
  background: url("../img/bg-redesSociales.png");
  border: 1px solid #363636;
  border-right: none;
  border-radius: 15px 0 0 15px;
  position: fixed;
  margin: 60px 0 0 0;
  padding: 5px 0 0 5px;
  opacity: 1;
  right: 0;
  z-index: 999999;
}

.easy-buttons-floating-block > div{
  margin:2px 0;
  margin:4px 0;
}